@media all and (max-width: 670px){

  .contents-list{
    display: none;
  }

  .tablet{
    display: block;
  }

  .title h1{
    font-size: 25px;
    border: solid 2.5px;
  }

  .profile-image img{
    height: 230px;
    width: 173px;
    max-width: 100%;
  }

  .coment p{
    font-size: 13px;
    margin:3%;
    font-weight: bold;
  }

}
